################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Trade.Domain/obj
/Trade.Domain/bin/Debug/netcoreapp3.1
/Trade.Tests/obj/Debug/netcoreapp3.1
